.board {
  width: 260px;
  height: 90px;
  margin: 0px 40px;
}

.board .first, .board .second {
  width: 100%;
  height: 50%;
  color: #ffddd2;
  padding: 10px 50px;
  font-size: 1.5em;
  -webkit-transition: ease-in-out 0.7s;
  transition: ease-in-out 0.7s;
}

.first {
  border-radius: 20px 20px 0 0;
  background-color: #006d7754;
}

.second {
  border-radius: 0 0 20px 20px;
  background-color: #006d7754;
}

.active {
  background-color: #e29578;
}

.game-board {
  width: 600px;
  height: 600px;
  background-color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  min-width: 200px;
  min-height: 200px;
  border: 3px solid #006d77;
  background-color: #f3f3f3;
  font-size: 3em;
}

.nought {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/nought.png);
}

.o {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/nought.png);
}

.cross {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/cross.png);
}

.x {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/cross.png);
}

.blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  width: 100vw;
  height: 80vh;
  z-index: 1;
  position: fixed;
  top: 0;
}

.form-container {
  background-color: #83c5be;
  width: 700px;
  height: 550px;
  border-radius: 20px;
}

form {
  color: white;
}

form label {
  font-size: 2em;
}

form input {
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1.3em;
  background-color: #006d7754;
  color: white;
  border: 3px solid #006d7754;
}

form input:focus {
  color: white;
  outline-style: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.418);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.418);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.418);
}

::placeholder {
  color: rgba(255, 255, 255, 0.418);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 5px;
  font-family: 'Slabo 27px', serif;
}

body {
  background-color: #83c5be;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: #f3f3f3;
  font-size: 3.5em;
  font-family: 'Slabo 27px', serif;
}

.container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  letter-spacing: 3px;
  font-size: 1.1em;
  color: #f3f3f3;
  display: inline-block;
  margin: auto;
  padding: 20px 35px;
  background-color: #e29578;
  border-radius: 50px;
  border: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus {
  outline-style: none;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.384) 1px 1px 3px 1px;
          box-shadow: rgba(0, 0, 0, 0.384) 1px 1px 3px 1px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */